@import '@core/scss/angular/libs/ratings.component.scss';
.custom-img {
  max-width: 900px;
  aspect-ratio: 900 / 600;
}

.discount-price{
  position: relative;
  bottom: 2vh;
}

.after-discount{
  position: relative;
  left: 50%;
}