@import '@core/scss/angular/libs/ratings.component.scss';
.custom-img {
  max-width: 100%;
  aspect-ratio: 16/9;
}

.discount-price{
  position: relative;
  bottom: 2vh;
}

.after-discount{
  position: relative;
  left: 50%;
}